
/* Basis style elementen */
*,
*::after,
*::before {
	box-sizing: border-box;
}

button,
summary {
	cursor: pointer;
}

html {
	font-family: "Source Sans Pro", "Trebuchet MS", Helvetica, sans-serif;
}

body {
	margin: 0;
	background-color: var(--general-background);
	color: var(--general-color);
}

header {
	min-height: 4em;
    padding: 0 1em;
    background-color: var(--header-background-color);
    line-height: 1;
    box-shadow: var(--nav-boxshadow);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
}


/* CUSTOM PROPERTIES kleuren voor de website*/

:root {
	--color-text: #111;
	--color-background: #eee;
	--general-color: #012;
	--general-background: #fff;
}
